<div style="background-color: #f8f8f8; min-height: 91vh;">
    <div style="padding-top: 10px;">
    </div>

    <div style="margin-top: 10px;" class="child" *ngFor="let product of Products">

        <div class="row">
            <div class="column">
                <img class="profile" style="height: 130px; width: 200px; border-radius: 10px;"
                    [src]="product.processedImg" alt="profile" />
            </div>
            <div class="column">

                <h2 style="cursor: pointer; color: #108ee9;">
                    {{product.name}}</h2>
                <hr>
                <h5>
                    Price : {{product.price}}<br>
                    Description : {{product.description}}
                    Category : {{product.categoryName}}
                </h5>
                <hr>
            </div>
        </div>
    </div>
</div>