
<nz-table #basicTable [nzData]="reservations">
    <thead>
        <tr>
            <th>UserName</th>
            <th>Table Type</th>
            <th>Description</th>
            <th>Reservation Time</th>
            <th>Reservation Date</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let reservation of reservations">
            <td>{{reservation.customerName}}</td>
            <td>{{reservation.tableType}}</td>
            <td>{{reservation.description}}</td>
            <td>{{reservation.dateTime | date : "h:mm a"}}</td>
            <td>{{reservation.dateTime }}</td>
            <td>
                <strong
                    [ngStyle]="{ 'color' : reservation.reservationStatus === 'APPROVED' ? 
                    'green' : reservation.reservationStatus === 'DISAPPROVED' ? 'blue' : 'red' }">
                    {{reservation.reservationStatus}}
                </strong>
            </td>
            <td>
                <span *ngIf="reservation.reservationStatus == 'PENDING'">
                    <button (click)="changeReservationStatus(reservation.id,'Approve')">Approve</button>
                    <button (click)="changeReservationStatus(reservation.id,'Disapprove')">Disapprove</button>
                </span>
            </td>
        </tr>
    </tbody>
</nz-table>
